<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>534899043610-1truv94tnjasjsb82f9fq1kj19efnph7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.534899043610-1truv94tnjasjsb82f9fq1kj19efnph7</string>
	<key>API_KEY</key>
	<string>AIzaSyAmwWRxbmQm7dAIRWuj1GhaVuGMbdciHA8</string>
	<key>GCM_SENDER_ID</key>
	<string>534899043610</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Mia.MusicApp</string>
	<key>PROJECT_ID</key>
	<string>musicapp-5107a</string>
	<key>STORAGE_BUCKET</key>
	<string>musicapp-5107a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:534899043610:ios:a3f9c22337f3e54e8690a3</string>
</dict>
</plist>